*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-small: 1.4rem;
  --font-size-medium: 2rem;
  --semibold: 500;
  --margin-default: 0.8rem;
  --height-header: 12rem;
  --height-main: calc(
    100dvh - var(--height-header) - (4 * var(--margin-default))
  );
}

html {
  font-family: "Encode Sans", sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
}

body,
header,
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header,
nav,
.menu-desktop,
.menu-mobile,
main {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
}

.logo-desktop {
  width: 17.2rem;
  margin-block: 2rem;
}

.display-mobile,
.display-tablet,
.logo-mobile,
.menu-mobile {
  display: none;
}

.logo-mobile {
  width: 20.8rem;
  margin-block: 1.2rem;
}

nav,
.menu-desktop,
.main-news,
.sport-news,
.globo-news {
  display: flex;
}

nav {
  height: 4.4rem;
  justify-content: center;
  padding-inline: var(--margin-default);
  border-block: 1px solid #f5f6f7;
}

a {
  text-decoration: none;
}

nav a {
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.menu-desktop,
.menu-mobile {
  max-width: 1280px;
  padding-inline: var(--margin-default);
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}

main {
  max-width: 1280px;
  margin: calc(var(--height-header) + var(--margin-default))
    var(--margin-default) var(--margin-default);
  gap: calc(3 * var(--margin-default));
}

.main-news {
  flex-direction: column;
  gap: calc(2 * var(--margin-default));
  flex: 2 0 61.6rem;
}
h2 {
  font-weight: normal;
}

h2:hover {
  text-decoration: underline;
}

.headline h2 {
  font-size: min(8vw, 5.2rem);
  font-weight: bold;
  line-height: 1.6;
  color: #c4160c;
}

.highlight h2 {
  font-size: var(--font-size-small);
  font-weight: var(--semibold);
  color: #303134;
}

hr {
  border-width: 1px 0 0 0;
  border-color: #f5f6f740;
}

main img {
  border-radius: 1.2rem;
  object-fit: cover;
}

.top-news {
  display: flex;
  gap: calc(3 * var(--margin-default));
}

.news-subject,
.news-subtitle {
  font-size: var(--font-size-small);
  color: #2f3134;
}

.news-subject {
  margin-top: var(--margin-default);
  font-weight: var(--semibold);
}

.top-news .news-subject {
  color: #c4170c;
}

.sport-news .news-subject {
  color: #16ae54;
}

.globo-news .news-subject {
  color: #ec8006;
}

.news-title {
  display: inline-block;
  margin-block: var(--margin-default);
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: #2f3134;
}

.news-subtitle {
  font-weight: var(--semibold);
}

.sport-news,
.globo-news {
  flex: 1 0 30.8rem;
  flex-direction: column;
  gap: calc(4 * var(--margin-default));
  padding-inline: calc(5 * var(--margin-default));
}

.sport-news {
  border-inline: 1px solid #ebedef;
}

footer {
  height: calc(0.5 * var(--height-header));
  display: flex;
  flex-basis: 100%;
  align-items: end;
  justify-content: center;
}
@media only screen and (max-width: 1312px) {
  .main-news {
    flex-basis: 100%;
  }

  .display-tablet {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .display-mobile,
  .logo-mobile,
  .menu-mobile {
    display: flex;
  }

  .logo-desktop,
  .menu-desktop,
  .display-desktop {
    display: none;
  }

  .main-news {
    gap: 1.6rem;
  }

  .highlight h2 {
    font-weight: var(--font-bold);
    color: #cd150b;
  }

  img {
    width: min(12rem, 100%);
  }

  .top-news {
    flex-direction: column;
  }

  .news {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(2 * var(--margin-default));
  }

  .news img,
  .news .news-title {
    flex: 1 0 33%;
  }

  .top-news h2 {
    color: #cd150b;
  }

  .sport-news h2 {
    color: #06aa48;
  }

  .globo-news h2 {
    color: #ec8006;
  }

  .top-news .news-subtitle {
    margin-bottom: calc(2 * var(--margin-default));
  }

  .main-news,
  .sport-news,
  .globo-news {
    flex-basis: 100%;
    padding: 0;
  }

  .sport-news {
    border: none;
  }
}
